.logo{
  display: flex;

  &__text{
    margin-left: 1rem;

    color: @green;
    font-family: 'NotoSerif-Bold', serif;
    font-size: 3rem;
    line-height: 4.6rem;
    text-transform: uppercase;
  }
  &__icon{
    fill: @green;
  }
}