.section{
  color: @grey;
}
.section_centered-text{
  text-align: center;
}
.section__content{
  display: flex;
}
.section__header{
  padding-top: 3.5rem;
}
.section__title{
  font-size: 3rem;
}

@media (min-width: 1023px) {
  .section__header{
    padding-top: 9.5rem;
  }
  .section__title{
    font-size: 4.8rem;
  }
}